<div data-illness-preferences-results-target="results" data-action="refreshResult@window->illness-preferences-results#refresh">
  <% unless current_user.illnesses.empty?  %>
    <div class="result">
      <div class="result-nutrient">
        <h5>Below are the main vitamins and minerals that may have a positive impact on your concerns.</h5>
        <p>Certain vitamins and minerals have more <span class="pill">impact</span> than others, so we've calculated their importance across all concerns, if relevant.</p>
        <div class="result-nutrient-each">
          <div class="all-card-nutrient">
            <% @illness_nutrients.first(4).each_with_index do |illness_nutrient, index| %>
              <div class="card-nutrient">
                <div class="card-nutrient-icon">
                  <%= image_tag("nutrients_logo/#{illness_nutrient.nutrient.logo}") %>
                </div>
                <div class="card-nutrient-name">
                  <div>
                    <p class="name"><%= illness_nutrient.nutrient.name %></p>
                  </div>
                  <div class="pill">
                    <p><%= illness_nutrient.impact %>%</p>
                  </div>
                </div>
                <div class="card-nutrient-pourcentage">
                  <% sups = ['st', 'nd','rd','th'] %>
                  <p><%= index + 1%><sup><%= sups[index] %></sup> </p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="card-nutrient-sentence">
            <% if @illness_nutrients.size >=4 && @illness_nutrients[4..-1].any? %>
              <p>Whilst less important, than the nutrients flagged above <%= stringify(@illness_nutrients[4..-1]) %> also scored highly.</p>
            <% end %>
          </div>
        </div>
        <div class="result-nutrient-foods">
          <h3><b>Food for the week:</b></h3>
          <p>Below are the key foods that you should try and consume this week. The foods are sorted by the amount of the relevant nutrient listed. Feel free to replace those which you don't like or are alleric to, no hard feelings!</p>
          <div class="row justify-content-center result-nutrient-foods-rows">
            <% @nutrients_with_food.first(4).each do |nutrient, foods| %>
              <div class="nutrient-food-row">
                <div class="nutrient">
                  <h4 class="whitespace-nowrap nutrient-name">
                    <strong><%= nutrient.name %></strong>
                  </h4>
                </div>
                <% foods.each do |food| %>
                  <%= render "foods/food_cards", food: food, nutrient: nutrient %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="good">
        <p>Good ! Click 'Export' to receive a useful summary of your plan above, straight to your inbox.</p>
      </div>
      <div data-controller="email" class="btn btn-primary">
        <span data-email-target="button" data-action="click->email#send">Send me an email</span>
        <span data-email-target="loader" class="d-none" >loader...</span>
        <span data-email-target="success" class="d-none" >success :-)</span>
      </div>
      <p>See you next soon !</p>
    </div>
  <% end %>
</div>
