<div data-illness-preferences-results-target="results" data-action="refreshResult@window->illness-preferences-results#refresh">
  <% unless @current_user.illnesses.empty?  %>
    <div class="result">
      <div class="result-nutrient">
        <h3><b>The main nutrients that you should prioritise are:</b></h3>
        <div class="result-nutrient-each">
          <%# <% nutrients_with_food.each do |nutrient, foods| %>
          <div class="all-card-nutrient">
            <% @impact_before_4.each do |nutrient, impact_value| %>
              <% nutrient = Nutrient.find_by(name: nutrient) %>
              <div class="card-nutrient">
                <div class="card-nutrient-icon">
                  <%= image_tag("nutrients_logo/#{nutrient.logo}") %>
                </div>
                <div class="card-nutrient-name">
                  <p><%= nutrient.name %></p>
                </div>
                <div class="card-nutrient-pourcentage">
                  <p><%= impact_value %>%</p>
                </div>
              </div>
            <% end %>
          </div>
          <p>Whilst less important, than the nutrients flagged above <%= stringify(@impact_after_4) %> also scored highly.</p>
        </div>
        <div class="result-nutrient-foods">
          <h3><b>Food for the week:</b></h3>
          <p>Below are the key foods that you should try and consume this week. The foods are sorted by the amount of the relevant nutrient listed. Feel free to replace those which you don't like or are alleric to, no hard feelings!</p>
          <div class="result-nutrient-foods-each row justify-content-center">
            <% nutrients_with_food.each do |nutrient, foods| %>
              <div class="nutrient-food-row">
                <h3 class="nutrient"><strong><%= nutrient.name %></strong></h3>
                <% foods.each do |food| %>
                  <%= render "foods/food_cards", food: food, nutrient: nutrient %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <p>Et voilà! Click ’Export’ to receive a useful summary of your plan above, straight to your inbox.</p>
      <div data-controller="email">
        <span data-email-target="button" data-action="click->email#send" class="btn btn-primary">Send me an email</span>
        <span data-email-target="loader" class="d-none" >loader...</span>
        <span data-email-target="success" class="d-none" >success :-)</span>
      </div>
      <p>See you next week!</h3>
    </div>
  <% end %>
</div>
