<div data-illness-preferences-results-target="results" data-action="refreshResult@window->illness-preferences-results#refresh">
  <% unless current_user.illnesses.empty?  %>
    <div class="result">
      <div class="result-nutrient">
        <h3>Vitamins & Minerals</h3>
        <p>Below are the main vitamins and minerals that may have a positive impact on your concerns.</p>
        <p>Certain vitamins and minerals have more <span class="pill">impact</span> than others, so we've calculated their importance across all concerns, if relevant.</p>
        <div class="result-nutrient-each">
          <div class="all-card-nutrient">
            <% @illness_nutrients.first(4).each_with_index do |illness_nutrient, index| %>
              <div class="card-nutrient">
                <div class="card-nutrient-icon">
                  <%= image_tag("nutrients_logo/#{illness_nutrient.nutrient.logo}") %>
                </div>
                <div class="card-nutrient-name">
                  <div>
                    <p class="name"><%= illness_nutrient.nutrient.name %></p>
                  </div>
                  <div class="pill">
                    <p><%= illness_nutrient.impact %>%</p>
                  </div>
                </div>
                <div class="card-nutrient-pourcentage">
                  <% sups = ['st', 'nd','rd','th'] %>
                  <p><%= index + 1%><sup><%= sups[index] %></sup> </p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="card-nutrient-sentence">
            <% if @illness_nutrients.size >=4 && @illness_nutrients[4..-1].any? %>
              <p>Whilst less important, than the nutrients flagged above <%= stringify(@illness_nutrients[4..-1]) %> also scored highly.</p>
            <% end %>
          </div>
        </div>
        <div class="result-nutrient-foods">
          <h3>Food for the week:</h3>
          <p>Below are the key foods that you should try and consume this week. The foods are</p>
          <p>sorted by the amount of the relevant nutrient listed.</p>
          <div class="row justify-content-center result-nutrient-foods-rows">
            <% @nutrients_with_food.first(4).each_with_index do |(nutrient, foods), nutrient_index| %>
              <div class="nutrient-food-row">
                <div class="nutrient">
                  <h4 class="whitespace-nowrap nutrient-name">
                    <strong><%= nutrient.name %></strong>
                  </h4>
                </div>
                <% foods.each_with_index do |food, food_index| %>
                  <%= render "foods/food_cards", food: food, nutrient: nutrient, legend: (nutrient_index.zero? && food_index == 3) %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="good">
        <div class="arrow arrow-container-mail">
          <%= render_svg "icons/curved-arrow", style: "", width:"30", height:"30" %>
          <p class="font-nanu font-green">Enter your email to receive a useful summary of your plan, straight to your inbox.</p>
        </div>
      </div>
      <div data-controller="email">
        <span data-email-target="button" class="button-export" data-action="click->email#send">Email my plan</span>
        <span data-email-target="loader" class="d-none button-export" >Sending...</span>
        <span data-email-target="success" class="d-none button-export" >Sent!</span>
      </div>
    </div>
  <% end %>
</div>
