<% content_for :meta_title, "SANLIFE - Food plan" %>

<div class="container" data-controller="illness-preferences-results">
  <h1>SANLIFE<%= image_tag("pea-logo.svg", class: 'pouf') %>me</h1>
  <h2>Find out which foods are best for <i>you</i>.</h2>
  <div class="result">
    <div class="health-concern">
      <div class="health-concern-inputs">
        <div class="arrow arrow-container-select">
          <p class="font-nanu font-green">Select your particular health concerns</p>
          <%= render_svg "icons/curved-arrow", style: "", width:"30", height:"30" %>
        </div>
        <% @illnesses.each do |illness| %>
          <%= render "user_illnesses/user_preferences", illness: illness %>
        <% end %>
      </div>
    </div>
    <div id="vitamins">
      <%= render "vitamins_result", nutrients_with_food: @nutrients_with_food, impact: @impact %>
    </div>
  </div>
</div>
  <%= render "shared/footer" %>
